.userspanel-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #00000060;
}

.userspanel-container {
    width: 80%;
    height: 80%;
    max-height: 90%;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 5px;
    overflow-y: auto;
}

.userspanel-title {
    width: 90%;
    height: 10%;
    font-family: "Jockey One";
    font-size: 30px;
    color: #737373;
    text-align: center;
}

.userspanel-body {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.userspanel-containerlist {
    width: 50%;
    height: 100%;
}

.userspanel-listheader {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listheader-input-email, .listheader-input-date, .listheader-input-number, .user-listheader-searchbutton {
    height: 100%;
    border-radius: 15px;
    font-family: "Jockey One";
    font-size: 15px;
    color: #737373;
}

.listheader-input-email {
    width: 30%;
    padding-left: 10px;
    text-align: left;
}

.listheader-input-date {
    width: 20%;
    margin-left: 10px;
}

.listheader-input-number {
    width: 10%;
    text-align: center;
    margin-left: 10px;
}

.user-listheader-searchbutton {
    width: 20%;
    cursor: pointer;
    margin-left: 10px;
}

.userspanel-list {
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.userspanel-list::-webkit-scrollbar {
    width: 10px;
}

.userspanel-list::-webkit-scrollbar-track {
    background: #D9D9D9;
}

.userspanel-list::-webkit-scrollbar-thumb {
    background: #0095A1;
    opacity: 0.7;
}

.userspanel-list::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

.userspanel-form {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.userspanel-subtitle {
    width: 100%;
    height: 20px;
    font-family: "Jockey One";
    font-size: 20px;
    color: #737373;
    text-align: center;
}

.userspanel-input {
    width: 80%;
    height: 35px;
    border-radius: 15px;
    font-family: "Jockey One";
    font-size: 15px;
    color: #737373;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 10%;
}

.userspanel-button {
    width: 60%;
    height: 40px;
    margin-top: 30px;
    margin-left: 20%;
    border-radius: 15px;
    font-family: "Jockey One";
    font-size: 15px;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

.userspanel-button:disabled {
    background-color: #737373;
}

.userspanel-button {
    background-color: #45d64a;
}

.usercontainer {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: #D9D9D9;
    margin-top: 10px;
    padding: 5px;
    align-items: center;
}

.usercontainer .role-img {
    width: 32px;
    height: 32px;
    margin-left: 5px;
}

.usercontainer h1 {
    font-family: "Jockey One";
    font-size: 12px;
    color: #000000;
    text-align: left;
    margin-left: 5px;
}

.usercontainer-email {
    width: 40%;
}

.usercontainer-creationdate {
    width: 20%;
}

.delete-button {
    display: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.usercontainer:hover .delete-button {
    display: block;
}

.userspanel-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
}

.userspanel-close {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.userspanel-close:hover {
    filter: invert(26%) sepia(89%) saturate(4811%) hue-rotate(351deg) brightness(88%) contrast(132%);
}
